body{
	background-color: #ffffff;
}
.logo{
	float: left;
	line-height: 20px;
}

.logoimg{
	height: 60px;
}
.topnav{
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}
.logo .logtext{
	position: absolute;
	margin-top: 20px;
	text-decoration: none; 
	color: black;
	font-size: 16px;
}
.logo .logtext span{
	font-weight: 900;
}
.topnav a{
	text-decoration: none;
	color: #2d1558;
	padding: 10px 30px;
	font-weight: 500;
	font-size: 13px;
	font-weight: normal;
	padding: 0px;
	padding-right: 137px;
}

.showtopnav a{
	padding-right: 0px;
	padding: 10px 30px;
}
.topnav a:hover{
	cursor: pointer;
	border-bottom:5px solid #cf227c;
}

.contact{
	outline: none !important;
    padding: 10px 22px !important;
    border-radius: 10px;
    font-size: 13px !important;
    font-weight: 600;
    color: white !important;
    opacity: 0.8;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,192,195,1) 0%, rgba(21,170,208,1) 82%) !important;
}

.topnav .contact:hover{
	border-bottom: none; 
}

.wrapping{
	position: relative;
	margin-top: -8px;
	font-family: 'Montserrat', sans-serif;
}

.navmenu{
	position: absolute;
	width: 100%;
	z-index: 30;
}

 .dot {
  	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0009;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #12B4CB;
    border-radius: 10px

}

#carousButton span:hover{
    background-color: #12B4CB;
}

#slider{
    position: relative;
}

@-webkit-keyframes pulseOnce { 
    0% {-webkit-transform: translateX(100%);} 
    
}
.box {
    -webkit-animation: pulseOnce .9s ease-in-out both;
}

.innercont{
	float: left;
    margin-top: -480px;
    margin-left: 100px;
}

.innercont h2{
	font-size: 31px;
    font-weight: 700;
    display: inline-block;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #464646;
    text-align: left;
    line-height: normal;
}

.innercont p{
	font-size: 16px;
	font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #7d7d7d;
    padding: 20px 0px;
    max-width: 420px;
    text-align: left;
}

.innercontbut{
	outline: none !important;
    padding: 10px 22px !important;
    border-radius: 10px;
    font-size: 13px !important;
    font-weight: 600;
    color: white !important;
    opacity: 0.8;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,192,195,1) 0%, rgba(21,170,208,1) 82%) !important;
    text-decoration: none;
}

#showResMen{
	display: none;
}

#carousButton{
	margin: 0 auto;
    padding-left: 50%;
}

.innercontpost{
	padding-top: 4em; 
	font-family: 'Montserrat', sans-serif;
}

.innercontpost h3{
	font-size: 31px;
    font-weight: bold;
    display: inline-block;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #464646;
    text-align: left;
    line-height: normal;
    padding-left: 14em;
}

.innercontpost p{
	max-width: 900px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin: 0 auto;
    color: #7d7d7d;
    padding: 10px 0px;
    text-align: justify;
    text-justify: inter-word;
}

.innercontpost div.contentimg{
	padding-left: 18em;
}

.wrappingCont{
	float: right; 
	padding-top: 1em; 
	margin-right: 13em;
}

.wrappingCont a:hover{
	text-decoration: none;
}

.delBut{
	margin-top: 2em;
}

.delBut button{
	border: none;
	background: #FE3C72 !important;
}

.editAdmin{
	padding-left: 4.2em; 
	margin-bottom: 2em;
	margin-top: 3em;
}

.editAdmin a:hover{
	text-decoration: none;
}

.editDiv .delBut{
	margin-top: -4.2em;
    padding-left: 16em;
}

.topnav .editDiv{
	float: right;
}

.editnav{
	margin-top: 3px;
    /* float: left; */
    padding: 0px 10px !important;
    /* margin-right: -85px !important; */
    margin-left: -134px;
    position: absolute;
}

.editnavdel{
	margin-top: 31px;
    /* float: left; */
    padding: 0px 10px !important;
    /* margin-right: -85px !important; */
    margin-left: -134px;
	position: absolute;
	background: #FE3C72 !important;
}

.delformnav{
	 
    margin-top: -21px;
    /* margin-top: 3px; */
    /* float: left; */
    padding: 0px 10px !important;
    /* margin-right: -85px !important; */
    margin-left: 101px;
    position: absolute;
}

.maincont{
	height: 650px;
}

.box{
	display: none;
}

#box1{
	display: block;
}

.slides{
	margin-top: -5em;
}

.slideEdit .editAdmin{
	padding-left: 0em;
}

.slideEdit .delBut{
	padding-left: 10em;
}
.contentimg img{
	height: 250px;
	width: 250px;
}


@media only screen and (max-width: 1070px){
	.logoimg{
		float: left;
	    height: 60px;
	    width: 60px;
	}
	.logo .logtext{
		top: 1px;
		left: 59px;
	}

	.topnav{
		flex-direction: column;
		display: block;
		
	}

	.topnav a{
		display: block;
		margin-left: 48px;
	}


	.topnav .contact{
		margin-top: 1em;
		width: 80px;
		margin-left: 6em;
	}

	#showResMen{
		display: block;
		margin-top: 20px;
		padding-left: 90%
	}

	.box img{
		height: 324px;
		width: 100% !important;
		height: auto;
		padding-top: 10%;
		padding-left: 20%;
	
	}

	#carousButton{
		margin-top: -2em;
	}

	.box {
	    margin-left: -24em;
	}

	.innercont{
		float: left;
	    margin-top: 12px;
	    margin-left: 402px;
	}

	.topnav{
		display: none;
		background-color: white;
		width: 100%;
		height: 243px;
		margin-right: 0;
	}

	#box2 .innercontbut,#box4 .innercontbut{
		font-size: 9px !important;
	}

	#box4 .innercont p{
		margin-top: -26px;
	}

	.innercont p{
		max-width: 768px;
	}

	.innercontpost h3{
		padding-left: 0;
	}

	.innercontpost div.contentimg{
		padding-left: 20%;
	}
	
	.innercont p a{
		padding: 10px 8px !important;
	}

  
}

